* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    overflow: hidden;
    
}

.headr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}

.headr ul {
    list-style-type: none;
    margin-right: 20px;
}
.headr ul li {
    margin-right: 10px; 
    display: inline;
}
.hdr1{
     padding: 10px;
     position: relative;
     left: 100px;
     top: 30px;
     width: 500px;
     height: 70px;
     font-weight: 200;
}

.hdr1 li{
    position: relative;
    left: 20px;
    margin: 150px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* header jackson */

.hdr2{
   position: relative;
   font-weight: 500;
   font-size: 20px;
   top: 30px;
   padding: 5px;
   left: 28%;
   width:150px;
   height: 120;
}

/* left side header */

.hdr3{
    height: 80px;
    width:500px;
    position: relative;
    top:20px;
    font-weight: 200;
    left:50%;

}
.hdr3 li{
    margin: 60px;
    padding:10px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top:25px;
}
.photography{
    position: relative;
    top:15%;
    width:100%;
    height: 10rem;
    right:60%;
    font-size:70px ;
    border: 1px solid black;
    letter-spacing: 5px;
    padding:5px 180px;
    border-left: none;
    border-right: none;
    border-color: darkcyan
}
.photography span{
    color:darkgoldenrod
}
.img{ 
position: relative;
top:45%;
right:110%;

}
.img img{ 
  position: relative;
  bottom: 50px;
  width:500px;
  height: 500px;
  border-radius: 50%;
  }
 
  /* text */

.text{
    position: relative;
    top:45%;
    right:150%;
  }
  .text h1{
    rotate: -20deg;
    width:170px;
    height:80px;
    font-size: 70px;
    background-color: none;
    color:darkgoldenrod;
  }
  .text p{
    rotate: -20deg;
    font-size: 18px;
    position: relative;
    bottom: 38px;
    left:20px;
    color: darkgrey;
    font-weight: 200;
  }
  .text h2{
    position: relative;
    top: 90px;
    font-size: 70px;
    right: 150px;
    letter-spacing: 1px;
    width:200px;
  }
  .text h2 span{
    font-size: 50px;
    color:gray;
  }
  .text h3{
    position: relative;
    top:120px;
    right:170px;
    width:400px;
    height: 70px;
    font-size: 19px;
    padding:3px 5px;
    font-weight: 100;
  }
  .text h3 span{
    position: relative;
    right:40px;
    margin-top: 2px;
  }
  .text button{
    position: relative;
    top:140px;
    width:180px;
    height: 55px;
    color:white;
    background-color: darkgoldenrod;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  .text2{
    position: relative;
    top:45%;
    right:120%;
  
  

    
  }
  .text2 h1{
    position: relative;
    top:50px;
    left:-150px;
    right:80px;
    width: 500px;
    height:150px;
    font-size: 150px;
    font-family: "Zeyada", cursive;
    color:darkgoldenrod;
    
  }
  .text2 h2{
    position: relative;
    top:110px;
    right:50px;
    height:120px;
    width:300px;
    font-size: 50px;
    font-weight:800;

  }
  .text2 button{
    border: 1px solid black;
    position: relative;
    top: 170px;
    right:30px;
    width:180px;
    height: 55px;
    border-radius: 25px;
    color:black;
    background-color:whitesmoke;
    cursor: pointer;
  }